.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */

.header {
  position: fixed;
  z-index: 1;
  height: 75px;
  width: 100%;
  top: 0;
  left: 0;
  transition: .3s ease-in;
  overflow: hidden;
}
.header-bg {
  background-color: #FF8F00;
}
a.nav-link {
  color: #ffff;
}

/* End of Header */

/* Cover */

#cover {
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        /* bottom, image */
        url('./assets/elektrik1.png');
}
a.cover-btn {
  background-color: #DA7E08;
  border-color: #DA7E08;
  color: #ffff;
  margin-top: 4rem;
  padding: 1.5rem 3rem;
  font-size: 3rem;
}

a.cover-btn:hover {
  background-color: #FF8F00;
  border-color: #FF8F00;
  color: #ffff;
}

/* End of Cover */

/* Description */

#description {
  flex-direction: column;
}


#descBg {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: end;
  flex-direction: column;
  /* background-repeat: none; */
  object-fit: fill;
  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ),
  /* bottom, image */
  url('./assets/elektrik2.png');
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.descContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  align-items: end;
}
.descHeading {
  width: 50%;
    /* background-color: #DA7E08; */
  color: #ffff;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
    align-items: center;
    justify-content: center;
  }

p {
  font-size: 16px;
}

.descHeadingColor {
  background-color: #DA7E08;
  padding: 1rem 2rem;
  border-radius: 10px;
}
.descBoxes {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 0;
  /* align-items: flex-end; */
  flex-wrap: wrap;
}
.descBox {
  width: 25%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  margin: 1rem;
  padding: 2rem;
  background-color: #DA7E08;
  color: #ffff;
  border-radius: 10px;

}

.descDetail {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descDetailDiv {
  width: 45%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 36px;
  padding: 15px;
  background-color: #DA7E08;
  border-radius: 10px;
}

.detail {
  font-size: 21px;
  color: white;
}
/* End of Description */

/* Requirements */

.reqHeading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reqHeading h2 {
  width: 35%;
  background-color: #DA7E08;
  color: #ffff;
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.reqContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(79,146,79);
  background: radial-gradient(circle, rgba(218,126,8,1) 50% , rgba(79,146,79,1) 100%);
}

.reqTextBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  margin: 2rem;
  color: #ffff;
  /* background-color: #DA7E08; */
  border-radius: 10px;
  font-size: 1.5rem;
}

a.req-btn {
  background-color: #DA7E08;
  border-color: #DA7E08;
  color: #ffff;
  margin-top: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
}

a.req-btn:hover {
  background-color: #FF8F00;
  border-color: #FF8F00;
  color: #ffff;
}
/* End of Requirements */

/* Gallery */

/* End of Gallery */

/* Contact */

/* End of Contact */

/* Footer */

/* End of Footer */